<%- include("partials/header.ejs") %> 

<body>

    <h1 class="Centered">Vlog 5am</h1>

    <h2 class="">Day 1</h2>
    <p><a href="/vlog/day1">Click here to see the videos of the 1st day</a></p>

    <h2>Day 2</h2>
    <p><a href="/vlog/day2">Click here to see the videos of the 2nd day</a></p>

    <h2>Day 3</h2>
    <p><a href="/vlog/day3">Click here to see the videos of the 3rd day</a></p>

    <h2>Day 4</h2>
    <p><a href="/vlog/day4">Click here to see the videos of the 4th day</a></p>

    <h2>Day 5</h2>
    <p><a href="/vlog/day5">Click here to see the videos of the 5th day</a></p>

    <h2>Day 6</h2>
    <p><a href="/vlog/day6">Click here to see the videos of the 6th day</a></p>

</body>