<%- include("partials/header.ejs") %> 

<body>

    <br><br><br><br><br><br>

    <button class="pull-right" href="/5am-vlog">Click to see my 5am Vlog !</button>

    <div class="box">
        <img class="FamilyPics" id="photoPaul" src="images/Paul.jpg">
        <p>Bonjour je m'appelle Paul</p>
    </div>
    
    

    <br><br><br><br><br><br><br><br><br><br>

    <div>
        <h2 id="laFamily" class="Centered">La Family !</h2>

        <br><br><br><br><br><br><br><br><br><br>

        <ul>

            <a href="https://www.eurazeo.com/fr/groupe/equipes/profil/marc-frappier"><img id="photoPapa" class="FamilyPics" src="/images/Papa.jpg"></a>
            <a href="https://www.eurazeo.com/fr/groupe/equipes/profil/marc-frappier"><li id="Papa" class="Family">Marc Frappier</li></a>
            
            <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br>

            <a href="https://frappier-avocat-versailles.fr/"><img id="photoMaman" class="FamilyPics" src="/images/Maman.jpg"></a>
            <a href="https://frappier-avocat-versailles.fr/"><li id="Maman" class="Family">Sandrine Frappier</li></a>
            
            <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br>

            <a href="https://fr.linkedin.com/in/emma-frappier-b72a541a2"><img id="photoEmma" class="FamilyPics" src="/images/Emma.jpg"></a>
            <a href="https://fr.linkedin.com/in/emma-frappier-b72a541a2"><li id="Emma" class="Family">Emma Frappier</li></a>

            <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br>

            <img id="photoEve" class="FamilyPics" src="/images/Eve.jpg">
            <li id="Eve" class="Family">Eve Frappier</li>

            <br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br><br> <br> <br> <br>

            <img id="photoMartin" class="FamilyPics" src="/images/Martin.jpg">
            <li id="Martin" class="Family">Martin Frappier</li>
            <br> <br> <br> <br><br> <br> <br> <br><br> <br> 
        </ul>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
    
</body>
</html>
