.back{
    background-image:url("/images/Paultaille.jpg"),url("/images/Paul2.jpg"), url("/images/Paul3.jpg"), url("/images/EUR.jpg");
    background-size: contain;
    background-position: center, left ,right;
    background-repeat: no-repeat;
    background-color: black;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Brush Script MT;
    font-size: 300%;
}

.Centered{
    text-align: center;
}


.Centered-list{
    list-style-position: inside;
    text-align: center;
}


.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.Btn{
    font-size: 30px;
    color:black;
    border:2px solid white;
    border-color:red;
    border-width: 3px;
}

#familyBg{
    background-image: url("/images/familyBg.jpg");
    background-position: bottom 100px;
    background-repeat: no-repeat;
}

#relatives{
    color: rgb(255, 6, 6);
    font-size: 400%;
    text-decoration: underline;

}

.fadedBg{
    background-image: url("/images/fadeBg.jpg");
    background-size: contain;
    background-position: center;
    background-repeat:repeat;
}

.Family{
    padding: 2% 3%; 
    color: rgb(0, 0, 0);
    font-size: 200%;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-indent: -50px;
}

#photoPapa{
    margin-right: 1.2em;
    height: 10%;
    width: 10%;
}

#photoMaman{
    margin-right: 1.2em;
    height: 10%;
    width: 10%;
}

#photoEmma{
    margin-right: 1.2em;
    height: 10%;
    width: 10%;
}

#photoEve{
    margin-right: 8em;
    height: 10%;
    width: 5%;
}

#photoMartin{
    margin-right: 8em;
    height: 10%;
    width: 5%;
}

.FamilyPics{
    float: left;
    position:relative;
    padding: 2% 4%; 
}

.cvTitle{
    text-decoration: underline;
}
