/* Header */

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

/* Website */


.box {
    display: flex;
    align-items:center;
 }

h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Brush Script MT;
    font-size: 300%;
}

.Centered{
    text-align: center;
}


.Centered-list{
    list-style-position: inside;
    text-align: center;
}


.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.Btn{
    font-size: 30px;
    color:black;
    border:2px solid white;
    border-color:red;
    border-width: 3px;
}

#laFamily{
    color: rgb(255, 6, 6);
    font-size: 200%;
    text-decoration: underline;

}

#photoPaul{
    margin-right: 1.2em;
    height: 20%;
    width: 20%;
}

.Family{
    padding: 2% 3%; 
    color: rgb(0, 0, 0);
    font-size: 130%;
    text-decoration: underline;
    text-indent: -30px;
}

#photoPapa{
    margin-right: 1.2em;
    height: 20%;
    width: 20%;
}

#photoMaman{
    margin-right: 1.2em;
    height: 20%;
    width: 20%;
}

#photoEmma{
    margin-right: 1.2em;
    height: 20%;
    width: 20%;
}

#photoEve{
    margin-right: 1.2em;
    height: 20%;
    width: 20%;
}

#photoMartin{
    margin-right: 1.2em;
    height: 20%;
    width: 20%;
}

.FamilyPics{
    float: left;
    position:relative;
    padding: 2% 4%; 
}

.cvTitle{
    text-decoration: underline;
}
